In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [92]:
df = pd.read_csv('train.csv')

In [93]:
df.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,5f1dbdc5bcb5f346d3589b50d1866c96414ff5a3,2016,3143302,Montes Claros,31,MG,18,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
1,2,1a9f38953a330c38c34853137668ecaa651ce0ce,2016,2304707,Granja,23,CE,31,F,0.0,...,NaN,A,B,B,C,C,A,C,C,A
2,3,5333b6db8fca6b1d000bf80c6dd101d11964c401,2016,2111300,São Luís,21,MA,25,F,0.0,...,NaN,A,A,A,A,A,A,A,A,A
3,4,e32d6ef30781c32abfde7deb8073630defd2f487,2016,3552809,Taboão da Serra,35,SP,18,F,0.0,...,NaN,A,A,A,A,B,A,A,C,A
4,5,8b6337d6e88ac810d17c96fdfb8099963d527ad3,2016,2919926,Madre de Deus,29,BA,21,M,0.0,...,NaN,B,A,A,A,A,A,A,A,A

In [94]:
df.columns

Index(['Unnamed: 0', 'NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       ...
       'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046', 'Q047', 'Q048', 'Q049',
       'Q050'],
      dtype='object', length=167)

In [95]:
list(df.columns.values)

['Unnamed: 0',
 'NU_INSCRICAO',
 'NU_ANO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_MUNICIPIO_NASCIMENTO',
 'NO_MUNICIPIO_NASCIMENTO',
 'CO_UF_NASCIMENTO',
 'SG_UF_NASCIMENTO',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_ESCOLA',
 'CO_MUNICIPIO_ESC',
 'NO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DEFICIENCIA_AUDITIVA',
 'IN_SURDO_CEGUEIRA',
 'IN_DEFICIENCIA_FISICA',
 'IN_DEFICIENCIA_MENTAL',
 'IN_DEFICIT_ATENCAO',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_AUTISMO',
 'IN_VISAO_MONOCULAR',
 'IN_OUTRA_DEF',
 'IN_SABATISTA',
 'IN_GESTANTE',
 'IN_LACTANTE',
 'IN_IDOSO',
 'IN_ESTUDA_CLASSE_HOSPITALAR',
 'IN_SEM_RECURSO',
 'IN_BRAILLE',
 'IN_AMPLIADA_24',
 'IN_AMPLIADA_18',
 'IN_LEDOR',
 'IN_ACESSO',
 'IN_TRANSCRICAO',
 'IN_LIBRAS',
 'IN_LEITURA_LABIAL',
 'IN_MESA_CADEIRA_RODAS',
 'IN_MESA_CADEIRA_SEPARADA',
 'IN_APOIO_PERNA',
 'IN_GUIA_INTERPRETE',
 'IN_MACA',
 'IN_COMPUTADOR',
 'IN_CADEIRA_ESPECIAL',
 'IN_CADEIRA_CANHOTO',
 'IN_CADEIRA_ACOLCHOADA',
 'IN_PROVA_DEITADO',
 'IN_MOBILIARIO_OBESO',
 'IN_LAMINA_OVERLAY',
 'IN_PROTETOR_AURICULAR',
 'IN_MEDIDOR_GLICOSE',
 'IN_MAQUINA_BRAILE',
 'IN_SOROBAN',
 'IN_MARCA_PASSO',
 'IN_SONDA',
 'IN_MEDICAMENTOS',
 'IN_SALA_INDIVIDUAL',
 'IN_SALA_ESPECIAL',
 'IN_SALA_ACOMPANHANTE',
 'IN_MOBILIARIO_ESPECIFICO',
 'IN_MATERIAL_ESPECIFICO',
 'IN_NOME_SOCIAL',
 'IN_CERTIFICADO',
 'NO_ENTIDADE_CERTIFICACAO',
 'CO_UF_ENTIDADE_CERTIFICACAO',
 'SG_UF_ENTIDADE_CERTIFICACAO',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TP_LINGUA',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025',
 'Q026',
 'Q027',
 'Q028',
 'Q029',
 'Q030',
 'Q031',
 'Q032',
 'Q033',
 'Q034',
 'Q035',
 'Q036',
 'Q037',
 'Q038',
 'Q039',
 'Q040',
 'Q041',
 'Q042',
 'Q043',
 'Q044',
 'Q045',
 'Q046',
 'Q047',
 'Q048',
 'Q049',
 'Q050']

In [107]:
Nota_final = ((df['NU_NOTA_MT']*3 + df['NU_NOTA_CN']*2 + df['NU_NOTA_LC']*1.5 + df['NU_NOTA_CH']*1 +  df['NU_NOTA_REDACAO']*3)/10.5)

In [116]:
def notafinal(notas):
    notafinal = (notas[0]*3 + notas[1]*2 + notas[2]*1.5 + notas[3]*1 + notas[4]*3)/(3+2+1.5+1+3)
    return notafinal

In [119]:
df['NOTA_FINAL'] = df[['NU_NOTA_MT','NU_NOTA_CN','NU_NOTA_LC','NU_NOTA_CH','NU_NOTA_REDACAO']].apply(notafinal, axis=1)

In [120]:
df['NOTA_FINAL'] = df['NOTA_FINAL'].round(1)

In [121]:
df.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,NOTA_FINAL
0,1,5f1dbdc5bcb5f346d3589b50d1866c96414ff5a3,2016,3143302,Montes Claros,31,MG,18,M,0.0,...,A,A,A,A,A,A,A,A,A,545.1
1,2,1a9f38953a330c38c34853137668ecaa651ce0ce,2016,2304707,Granja,23,CE,31,F,0.0,...,A,B,B,C,C,A,C,C,A,NaN
2,3,5333b6db8fca6b1d000bf80c6dd101d11964c401,2016,2111300,São Luís,21,MA,25,F,0.0,...,A,A,A,A,A,A,A,A,A,NaN
3,4,e32d6ef30781c32abfde7deb8073630defd2f487,2016,3552809,Taboão da Serra,35,SP,18,F,0.0,...,A,A,A,A,B,A,A,C,A,568.9
4,5,8b6337d6e88ac810d17c96fdfb8099963d527ad3,2016,2919926,Madre de Deus,29,BA,21,M,0.0,...,B,A,A,A,A,A,A,A,A,472.4

In [122]:
df_sort = df.sort_values(by=['NOTA_FINAL'], ascending=False)[:20]

In [126]:
Colunas_desejadas = ['NU_INSCRICAO','NOTA_FINAL']

In [127]:
Final_summit = df_sort[Colunas_desejadas]

In [128]:
Final_summit.head(20)

                                   NU_INSCRICAO  NOTA_FINAL
4563   6c7a5a8e61b523d6b637f0d1a599e797969c92d8       830.8
5993   4c1aee1af6cd5091f734415c5d7699babdcfd2c8       822.3
7043   773acbd4deaf3ad41a20ef70f0cff8665ef8d03b       819.9
12241  b3f7b3f368a7bc945ca62f3b3aa3416a4e81b5bd       818.6
10253  04e6aa9f53c67030dea35aef1f9a088898213ade       818.2
11402  b5d984c475959de3ab728262db1d194203214a81       817.0
5194   5a53849bbe660166cb3be09bdc4b03757b296f98       814.8
9202   6105db72ecbc5428c36cef2da114f26f6e893eb6       812.0
11003  530ac5206f4445ca934eaa76a3cf74a4c77c185d       811.3
6842   1ec0199da59d5ada9569f92185762c2cce0b84b3       805.2
140    66f8277f1b4f702ef696cd5720e616cf9b2c6414       803.3
8213   a01f9481d22640f2950ce9aad523fd34b0b3cc64       802.7
139    9bfed367ac507b1057c5f9edaf8132b1de8521c5       802.5
6219   d8a5473bc9fd10b7861b0c34b8b37c68cc4b1b0e       802.0
13546  d88e6e2b95ed9cfe1424eac5a42773beee3dedbb       801.9
4148   86c64af68e0635115d511656148aee45e41d0e66       801.7
12105  0751584fc079f0224024acc631e98ae45613cd40       800.6
8548   b75388df8c90928b4a7938eb3e993e5395b47679       799.9
11615  74d579ef551b7f9d6293dc5127388387a534a6f8       799.5
8545   92e29a9bdcb871cbc3df9ee2e6354a97db17f378       795.3

In [131]:
dic = Final_summit.to_dict("records")

In [132]:
dic

[{'NOTA_FINAL': 830.8,
  'NU_INSCRICAO': '6c7a5a8e61b523d6b637f0d1a599e797969c92d8'},
 {'NOTA_FINAL': 822.3,
  'NU_INSCRICAO': '4c1aee1af6cd5091f734415c5d7699babdcfd2c8'},
 {'NOTA_FINAL': 819.9,
  'NU_INSCRICAO': '773acbd4deaf3ad41a20ef70f0cff8665ef8d03b'},
 {'NOTA_FINAL': 818.6,
  'NU_INSCRICAO': 'b3f7b3f368a7bc945ca62f3b3aa3416a4e81b5bd'},
 {'NOTA_FINAL': 818.2,
  'NU_INSCRICAO': '04e6aa9f53c67030dea35aef1f9a088898213ade'},
 {'NOTA_FINAL': 817.0,
  'NU_INSCRICAO': 'b5d984c475959de3ab728262db1d194203214a81'},
 {'NOTA_FINAL': 814.8,
  'NU_INSCRICAO': '5a53849bbe660166cb3be09bdc4b03757b296f98'},
 {'NOTA_FINAL': 812.0,
  'NU_INSCRICAO': '6105db72ecbc5428c36cef2da114f26f6e893eb6'},
 {'NOTA_FINAL': 811.3,
  'NU_INSCRICAO': '530ac5206f4445ca934eaa76a3cf74a4c77c185d'},
 {'NOTA_FINAL': 805.2,
  'NU_INSCRICAO': '1ec0199da59d5ada9569f92185762c2cce0b84b3'},
 {'NOTA_FINAL': 803.3,
  'NU_INSCRICAO': '66f8277f1b4f702ef696cd5720e616cf9b2c6414'},
 {'NOTA_FINAL': 802.7,
  'NU_INSCRICAO': 'a01f9481d22640f2950ce9aad523fd34b0b3cc64'},
 {'NOTA_FINAL': 802.5,
  'NU_INSCRICAO': '9bfed367ac507b1057c5f9edaf8132b1de8521c5'},
 {'NOTA_FINAL': 802.0,
  'NU_INSCRICAO': 'd8a5473bc9fd10b7861b0c34b8b37c68cc4b1b0e'},
 {'NOTA_FINAL': 801.9,
  'NU_INSCRICAO': 'd88e6e2b95ed9cfe1424eac5a42773beee3dedbb'},
 {'NOTA_FINAL': 801.7,
  'NU_INSCRICAO': '86c64af68e0635115d511656148aee45e41d0e66'},
 {'NOTA_FINAL': 800.6,
  'NU_INSCRICAO': '0751584fc079f0224024acc631e98ae45613cd40'},
 {'NOTA_FINAL': 799.9,
  'NU_INSCRICAO': 'b75388df8c90928b4a7938eb3e993e5395b47679'},
 {'NOTA_FINAL': 799.5,
  'NU_INSCRICAO': '74d579ef551b7f9d6293dc5127388387a534a6f8'},
 {'NOTA_FINAL': 795.3,
  'NU_INSCRICAO': '92e29a9bdcb871cbc3df9ee2e6354a97db17f378'}]

In [133]:
dicf = {
  "token": "e2579c92a6ab22c1f8b612128ac33198167127c1",
  "email": "tiago.shink@gmail.com",
  "answer": dic}

In [134]:
dicf

{'answer': [{'NOTA_FINAL': 830.8,
   'NU_INSCRICAO': '6c7a5a8e61b523d6b637f0d1a599e797969c92d8'},
  {'NOTA_FINAL': 822.3,
   'NU_INSCRICAO': '4c1aee1af6cd5091f734415c5d7699babdcfd2c8'},
  {'NOTA_FINAL': 819.9,
   'NU_INSCRICAO': '773acbd4deaf3ad41a20ef70f0cff8665ef8d03b'},
  {'NOTA_FINAL': 818.6,
   'NU_INSCRICAO': 'b3f7b3f368a7bc945ca62f3b3aa3416a4e81b5bd'},
  {'NOTA_FINAL': 818.2,
   'NU_INSCRICAO': '04e6aa9f53c67030dea35aef1f9a088898213ade'},
  {'NOTA_FINAL': 817.0,
   'NU_INSCRICAO': 'b5d984c475959de3ab728262db1d194203214a81'},
  {'NOTA_FINAL': 814.8,
   'NU_INSCRICAO': '5a53849bbe660166cb3be09bdc4b03757b296f98'},
  {'NOTA_FINAL': 812.0,
   'NU_INSCRICAO': '6105db72ecbc5428c36cef2da114f26f6e893eb6'},
  {'NOTA_FINAL': 811.3,
   'NU_INSCRICAO': '530ac5206f4445ca934eaa76a3cf74a4c77c185d'},
  {'NOTA_FINAL': 805.2,
   'NU_INSCRICAO': '1ec0199da59d5ada9569f92185762c2cce0b84b3'},
  {'NOTA_FINAL': 803.3,
   'NU_INSCRICAO': '66f8277f1b4f702ef696cd5720e616cf9b2c6414'},
  {'NOTA_FINAL': 802.7,
   'NU_INSCRICAO': 'a01f9481d22640f2950ce9aad523fd34b0b3cc64'},
  {'NOTA_FINAL': 802.5,
   'NU_INSCRICAO': '9bfed367ac507b1057c5f9edaf8132b1de8521c5'},
  {'NOTA_FINAL': 802.0,
   'NU_INSCRICAO': 'd8a5473bc9fd10b7861b0c34b8b37c68cc4b1b0e'},
  {'NOTA_FINAL': 801.9,
   'NU_INSCRICAO': 'd88e6e2b95ed9cfe1424eac5a42773beee3dedbb'},
  {'NOTA_FINAL': 801.7,
   'NU_INSCRICAO': '86c64af68e0635115d511656148aee45e41d0e66'},
  {'NOTA_FINAL': 800.6,
   'NU_INSCRICAO': '0751584fc079f0224024acc631e98ae45613cd40'},
  {'NOTA_FINAL': 799.9,
   'NU_INSCRICAO': 'b75388df8c90928b4a7938eb3e993e5395b47679'},
  {'NOTA_FINAL': 799.5,
   'NU_INSCRICAO': '74d579ef551b7f9d6293dc5127388387a534a6f8'},
  {'NOTA_FINAL': 795.3,
   'NU_INSCRICAO': '92e29a9bdcb871cbc3df9ee2e6354a97db17f378'}],
 'email': 'tiago.shink@gmail.com',
 'token': 'e2579c92a6ab22c1f8b612128ac33198167127c1'}

In [135]:
import requests

In [51]:
r = requests.get('https://api.codenation.com.br/v1/user/acceleration/data-science/challenge/enem-1/submit')

In [136]:
r = requests.post("https://api.codenation.com.br/v1/user/acceleration/data-science/challenge/enem-1/submit", json = dicf)

In [137]:
print(r.text)

{"score":100}